/* I like my form labels a bit lighter than what I am getting with Bootstrap and the Dash css */
label {
    font-weight: normal;
    font-size: 12pt;
}

/* Make sure the main content is placed below the fixed navbar */
#main-content {
    padding-top: 70px;
}

/* Shrink the page footer */
#main-footer {
    padding-left: 25px;
    padding-right: 25px;
    min-height: 35px;
    height: 35px;
}
.footer-text {
    font-size: small;
    padding-top: 5px;
    margin: 2px;
}

/* Add an option for borderless panels */
.panel-borderless {
    border: 0;
}
