/* I like my form labels a bit lighter than what I am getting with Bootstrap and the Dash css */
label {
    font-weight: normal;
    font-size: 12pt;
}

/* Make sure the main content is placed below the fixed navbar */
#main-content {
    padding-top: 70px;
}

/* Shrink the page footer */
#pagefooter {
    min-height: 35px;
    height: 35px;
}
.footer-text {
    padding-top: 5px;
    margin: 2px;
}
